<h2>ADD MANUAL FINAL EXAM</h2>

<table class="table">
<% @classes.each do |class_| %>
    <% unless @is_shown.include? class_.subject_code %>
        <%= form_for :exam, url: update_exam_final_user_table_classtable_path(@user, @table, class_) do |f| %>
            <tr>
                <td><%= class_.subject_code %></td>
                <td><%= class_.subject %></td>
                <td><%= f.label :Day_exam %>: </td>
                <td>
                    <%= f.text_field :dayFinal, placeholder: "Ex. MAY02", class: "form-control", :required => true unless class_.dayFinal %>
                    <%= f.text_field :dayFinal, value: class_.dayFinal, class: "form-control", :required => true if class_.dayFinal %>
                </td>
                <td><%= f.label :Time_exam %></td>
                <td>
                    <%= f.text_field :timeFinal, placeholder: "Ex. 08:00-11:00", class: "form-control", :required => true unless class_.timeFinal %>
                    <%= f.text_field :timeFinal, value: class_.timeFinal, class: "form-control", :required => true if class_.timeFinal %>
                </td>
                <td><%= f.submit %></td>
                <td><%= link_to "Clear manual", clear_manual_final_user_table_classtable_path(@user, @table, class_) %></td>
            </tr>
        <% end %>
        <% @is_shown.add(class_.subject_code) %>
    <% end %>
<% end %>
</table>

<%= link_to "BACK", :back, class: "bg-red mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" %>



