<h3><i class="glyphicon glyphicon-book"></i> FINAL EXAM</h3>

<%= link_to "Add Manually", edit_user_table_finaltable_path(@user, @table, @table), class: "bg-blue mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" if user_signed_in? and @user.id == current_user.id %><br>
<%= raw('<small><i class="glyphicon glyphicon-exclamation-sign"></i> MANUALLY IS THE MOST IMPORTANT </small>') if user_signed_in? and @user.id == current_user.id %>

<div class="pure2table mdl-shadow--3dp">
    <div class="pure2table-caption">
        <i class="text-manual glyphicon glyphicon-stop"></i> MANUALLY
        <i class="text-final glyphicon glyphicon-stop"></i> FINAL TABLE
        <i class="text-regular glyphicon glyphicon-stop"></i> REGULAR EXAM
    </div>
    <div class="pure2table-row pure-g bg-midnight">
        <div class="pure2table-cell pure-u-3-24"><strong>DAY</strong></div>
        <div class="pure2table-cell pure-u-7-24"><strong>08:00 - 11:00</strong></div>
        <div class="pure2table-cell pure-u-7-24"><strong>12:00 - 15:00</strong></div>
        <div class="pure2table-cell pure-u-7-24"><strong>15:30 - 18:30</strong></div>
    </div>
        <% @myexam.each_with_index do |a, index| %>
            <% if @count == 0 %> 
                 <div class="pure2table-row pure-g <%= p 'bg-gray' if index % 2 == 1 %>">
                <div class="pure2table-cell pure-u-3-24"> <%= a[0] %> </div>
            <% end %>
            <div class="pure2table-cell pure-u-7-24">
                <% @classes.each do |class_| %>
                    <!-- manual -->
                    <% if class_.dayFinal.to_s.downcase == a[0].gsub(' ', '').to_s.downcase %>
                        <% if (class_.timeFinal.to_s[0..5].gsub(/[\s:-]/, '') == '0800' and @count == 0) or
                              (class_.timeFinal.to_s[0..5].gsub(/[\s:-]/, '') == '1200' and @count == 1) or
                              (class_.timeFinal.to_s[0..5].gsub(/[\s:-]/, '') == '1530' and @count == 2) %>
                                <span class="text-manual"><%= class_.subject %><br></span>
                                <% @is_shown.add(class_.subject_code) %>
                        <% end %>   
                    <% end %>
                    

                    <!-- final table -->
                    <% if not @is_shown_manual.include? class_.subject_code and 
                          not @is_shown.include? class_.subject_code and 
                          a[1].include? class_.subject_code %>

                         <span class="text-final"><%= class_.subject %></span>
                         <% @is_shown.add(class_.subject_code) %>
                         <br>
                    <% end %>
        
                    <!-- regular exam -->
                    <% @regular.each do |regular| %>
                        <% if not @exam_selected.text.include? class_.subject_code and regular.dateexam.split(' ')[1..2].join('') == a[0].gsub(' ', '') %> <!-- check day -->
                            <% if (regular.dateexam.split(' ')[3][0..1] == '08' and @count == 0) or
                                  (regular.dateexam.split(' ')[3][0..1] == '12' and @count == 1) or
                                  (regular.dateexam.split(' ')[3][0..1] == '15' and @count == 2) %>

                                <% if not @is_shown.include? class_.subject_code and not @is_shown_manual.include? class_.subject_code and class_.daily == regular.dayexam and class_.start == regular.timeexam %>
                                    <span class="text-regular"><%= class_.subject %><br></span>
                                    <% @is_shown.add(class_.subject_code) %>
                                    <% @is_shown_regular.add(class_.subject_code) %>
                                <% end %>           
                            <% end %>   
                        <% end %>   
                    <% end %>
                <% end %>
            </div>
            <% @count += 1 %>
            <% @count = 0 if @count == 3 %>
            <% if @count == 0 %> </div> <% end %>
        <% end %>
    </div><br>

<% unless @is_shown_manual.empty? %>
    <span>FINAL EXAM (day and time besides a top table)</span>
    <div class="pure2table">
        <div class="pure2table-row pure-g bg-midnight">
            <div class="pure2table-cell pure-u-3-12">Subject code</div>
            <div class="pure2table-cell pure-u-3-12">Subject</div>
            <div class="pure2table-cell pure-u-3-12">Day</div>
            <div class="pure2table-cell pure-u-3-12">Time</div>
        </div>
            
        <% @classes.each do |class_| %>
            <% if not @is_shown.include? class_.subject_code and @is_shown_manual.include? class_.subject_code and class_.dayFinal and class_.timeFinal%>
                <div class="pure2table-row pure-g">
                    <div class="pure2table-cell pure-u-3-12"><%= class_.subject_code%></div>
                    <div class="pure2table-cell pure-u-3-12"><%= class_.subject %></div>
                    <div class="pure2table-cell pure-u-3-12"><%= class_.dayFinal %></div>
                    <div class="pure2table-cell pure-u-3-12"><%= class_.timeFinal %></div>
                </div>
                <% @is_shown.add(class_.subject_code) %>
            <% end %>
        <% end %>
    </div><br>
<% end %>


<%= link_to "BACK", user_table_classtables_path, id: @table, class: "bg-red mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" %>



