
<div class="sync-block mdl-shadow--3dp"> 
    <h4>
        <i class="glyphicon glyphicon-refresh"></i> Sync Timetable with Reg.CMU
    </h4>

    <%= form_for :generate, url: generates_path do |f| %>
        <label class="responsive-text">Student ID</label>
        <%= f.text_field :stu_id, class: "student_id", maxlength: 9, autofocus: true, placeholder: "Student ID" %>

        <label class="responsive-text">Year</label>
        <%= f.select :year, (options_for_select([['2558', 58]])), required: true %>

        <label class="responsive-text">Semester</label>
        <%= f.select :semester, (options_for_select([['1', 1], ['2', 2], ['Summer', 3]])), required: true, class: "form-control" %>
        <%= f.submit "Sync", class: "sycn bg-blue mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"%>
    <% end %>
    <div id="load" class="mdl-spinner mdl-js-spinner is-active"></div>
</div><br/>




