<h3 class="on-mobile"><i class="glyphicon glyphicon-phone"></i> MOBILE DEVICE <span class="beta">BETA</span></h3>

<div class="sync-block"> 
    <h3>
        <i class="glyphicon glyphicon-refresh"></i> Sync Timetable 
        <span >with Reg.CMU</span>
        <small class="beta">BETA</small>
    </h3>

    <%= form_for :generate, url: generates_path do |f| %>
        <label>Student ID</label>
        <%= f.text_field :stu_id, class: "student_id", maxlength: 9, autofocus: true %>

        <%= f.label :year %>
        <%= f.select :year, (options_for_select([['2558', 58]])), required: true %>

        <%= f.label :semester %>
        <%= f.select :semester, (options_for_select([['1', 1], ['2', 2], ['Summer', 3]])), required: true %>
        <%= f.submit "Sync", class: "sycn bg-blue mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"%>
    <% end %>
    <div id="load" class="mdl-spinner mdl-js-spinner is-active"></div>
</div>

<h3><i class="glyphicon glyphicon-calendar"></i> Planning Timetable</h3>
<%= link_to "GO TO PLANNIG TABLE", user_tables_path(current_user), class: "gototable mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent " if user_signed_in?  %>
<%= link_to "LOGIN TO USE PANNING TABLE", new_user_session_path, class: "gototable mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent " if !user_signed_in?  %>
<br><br>

<div class="share-button">
    <a href="https://twitter.com/share" class="twitter-share-button"{count} data-url="http://cmutimetable.herokuapp.com" data-text="วางแผนตารางเรียนก่อนลงทะเบียนจริง พร้อมลิงค์ตารางสอบ" data-via="Pondpaun7z" data-size="small" data-related="pondpaun7z" data-hashtags="CMUTIMETABLE">Tweet</a>&nbsp;
    <div class="fb-like" data-href="http://cmutimetable.herokuapp.com" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
</div>

<br><br>

<div class="block mdl-shadow--3dp">   
    <div class="divHeader mdl-shadow--3dp">
        <h4 class="txtHeader"> <i class="glyphicon glyphicon-star"></i> Feature</h4>
    </div>
    <div class="feature-content">
        <ul class="text-left2 "> 
            <li><h6><span class="label label-info">COOL!</span> สามารถดูตารางเรียนและตารางสอบ ได้โดยใส่ รหัสนักศึกษา ปี และ ภาคเรียนได้</h6></li>
            <li><h6><span class="label label-info">COOL!</span> มีการลิงค์ ตารางสอบกลางภาคและ ปลายภาค จาก สำนักทะเบียน</h6></li>
            <li><h6><span class="label label-info">COOL!</span> สามารถค้นหารายวิชาที่เปิดสอนได้โดยกดรูป <i class="glyphicon glyphicon-search"></i> ที่มุมบนขวา</h6>
                <ul>
                    <li>โดยถ้า search จาก หน้า Homepage จะเป็นวิชาที่เปิดสอนในเทอมปัจจุบัน</li>
                    <li>แต่ถ้า search จากหน้า Table จะเป็นวิชาที่เปิดสอนนตามปีและเทอมของตารางนั้น</li>
                </ul>
            </li>
            <li><h6>
                <span class="label label-info">COOL!</span> สามารถ Copy class ไปวันอื่นได้ โดยไม่ต้อง กรอกใหม่
                โดยคลิกที่ class นั้นแล้ว กด <i class="glyphicon glyphicon-duplicate" style="color: #fff"></i>
            </h6></li>
        </ul>
    </div>
</div>
<br>
<div class="block mdl-shadow--3dp">   

    <div class="divHeader mdl-shadow--3dp">
        <h4 class="txtHeader"> <i class="glyphicon glyphicon-time"></i> Update! </h4>
    </div><br>
    <%= render 'updated' %>
</div>




