
<h3><i class="glyphicon glyphicon-calendar"></i> TIMETABLE</h3>


<div class="text-left">
    <h6 class="table-name">
        <i class="glyphicon glyphicon-triangle-right"></i>Timtable name: <%= @table.name %>
    </h6>
    <h6 class="table-name"> <%= @table.semester %>/25<%= @table.year %></h6>
    <% if user_signed_in? %>
        <% if user_signed_in? and @user.id == current_user.id %>
            <button id="button-add" class="bg-green mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">ADD NEW CLASS</button>
        <% end %>
        <%= link_to "BACK", user_tables_path, class: "bg-red mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" %>
    <% end %>
    <%= link_to "BACK", homepages_path, class: "bg-red mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" if !user_signed_in? %>
</div>


<% if $error.length != 0 %>
    <p class="alert alert-danger"><i class="glyphicon glyphicon-exclamation-sign"></i> <%= $error %></p>
    <% $error = "" %>
<% end %>


<p id="invalidTime"><i class="glyphicon glyphicon-exclamation-sign"></i> Time invalid</p>

<% if user_signed_in? and @user.id == current_user.id %>
    <div id="newClass">
        <%= form_for :class, url: { action: "create" } do |f| %>

            <div class="add-class mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <%= f.label :subject_code, class: "mdl-textfield__label" %>            
                <%= f.text_field :subject_code, class: "mdl-textfield__input", maxlength: 6 %>
            </div>
            <div class="add-class mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <%= f.label :subject, class: "mdl-textfield__label" %>
                <%= f.text_field :subject, class: "mdl-textfield__input" %>
            </div>
            <div class="add-class mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <%= f.label :room, class: "mdl-textfield__label" %>
                <%= f.text_field :room, class: "mdl-textfield__input" %>
            </div>
            <div class="add-class mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <%= f.label :section, class: "mdl-textfield__label" %>
                <%= f.text_field :section, class: "mdl-textfield__input" %>
            </div>
            
            <%= f.label :day %>

            <%= f.select :daily, (options_for_select([['Sunday', 1], ['Monday', 2], ['Tuesday', 3], ['Wednesday', 4], ['Thursday', 5], ['Friday', 6], ['Saturday', 7]])) %>

            <%= f.label :start %>
            <%= f.select :start, (options_for_select([['08:00', 1], ['08:30', 2], ['09:00', 3], ['09:30', 4], ['10:00', 5], ['10:30', 6], ['11:00', 7], ['11:30', 8], ['12:00', 9], ['12:30', 10], ['13:00', 11], ['13:30', 12], ['14:00', 13], ['14:30', 14], ['15:00', 15], ['15:30', 16], ['16:00', 17], ['16:30', 18], ['17:00', 19], ['17:30', 20], ['18:00', 21], ['18:30', 22]])) %>


            <%= f.label :finish %>
            <%= f.select :finish, (options_for_select([['08:30', 2], ['09:00', 3], ['09:30', 4], ['10:00', 5], ['10:30', 6], ['11:00', 7], ['11:30', 8], ['12:00', 9], ['12:30', 10], ['13:00', 11], ['13:30', 12], ['14:00', 13], ['14:30', 14], ['15:00', 15], ['15:30', 16], ['16:00', 17], ['16:30', 18], ['17:00', 19], ['17:30', 20], ['18:00', 21], ['18:30', 22], ['19:00', 23]])) %>
            
            <%= f.submit "SAVE", class: "saveClass bg-green mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent bg-silver", disabled: true %>            
        <% end %>
    </div>
    <div id="load" class="mdl-spinner mdl-js-spinner is-active"></div>
<% end %>


<ul class="list-inline text-right">
    <li><i class="glyphicon glyphicon-exclamation-sign"></i> Click class for edit</li>
    <li><i class='glyphicon glyphicon-duplicate'></i> Copy class to other</li>
    <li><i class='glyphicon glyphicon-edit'></i> Edit class</li>
    <li><i class='glyphicon glyphicon-trash'></i> Delete class</li>
</ul>

<div class="pure-g text-center">    
    <div class="pure-u-2-24 bg-midnight"></div>
    <% (8..18).each do |i| %>
        <div class="pure-u-2-24 bg-midnight">
            <%= sprintf '%02d', i %>
        </div>
    <% end %>
</div>
<div class="pure-g text-center">    
    <div class="pure-u-2-24 bg-midnight"></div>
    <% (1..22).each do |i| %>
        <div class="pure-u-1-24 bg-midnight">
            <%= 00 if i % 2 == 1 %>
            <%= 30 if i % 2 == 0 %>
        </div>
    <% end %>
</div>

<% @days.each do |day| %>
    <div class="pure-g text-center mdl-shadow--3dp">    
        <div class="text-crop pure-u-2-24 bg-midnight">
            <p class="text-center"><%= day.day %></p>
        </div>
        <% @classes.each do |class_| %> 
            <% while @i <= 22 and class_.daily == day.id do %>
                <% if class_.start == @i %>
                    <div class="target text-crop color-<%= class_.color %> pure-u-<%= Timer.find(class_.finish).id - Timer.find(class_.start).id %>-24">
                        <div class="tool-class">
                            <%= link_to raw("<i class='subject glyphicon glyphicon-trash'></i>"), user_table_classtable_path(current_user, @table, class_), method: :delete, data: { confirm: "OK?" } if user_signed_in? and @user.id == current_user.id %>
                            <%= link_to raw("<i class='subject glyphicon glyphicon-edit'></i>"), edit_user_table_classtable_path(current_user, @table, class_) if user_signed_in? and @user.id == current_user.id %>
                            <%= link_to raw("<i class='subject glyphicon glyphicon-duplicate'></i>"), :action => :copy, :id => class_.id if user_signed_in? and @user.id == current_user.id %>
                        </div>
                        <p>
                            <%= class_.subject %>
                        </p>

                        
                    </div>                    
                    <% @i += Timer.find(class_.finish).id - Timer.find(class_.start).id %>
                    <% break %>
                <% else %>
                    <div class="pure-u-1-24 <%= 'bg-white' if day.id % 2 == 0 %>
                                            <%= 'bg-silver' if day.id % 2 == 1 %>">                    
                        <% @i += 1 %>
                    </div>
                <% end %>
            <% end %>
        <% end %>

        <% while @i <= 22 do %>
            <div class="pure-u-1-24 <%= 'bg-white' if day.id % 2 == 0 %>
                                    <%= 'bg-silver' if day.id % 2 == 1 %>">                    
                <% @i += 1 %>
            </div>
        <% end %>
    </div>
    <% @i = 1 %>
<% end %><br>

<ul class="text-left list-inline ">
    <li><%= link_to "midterm", user_table_midtermtables_path, class: "bg-blue mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" %></li>
    <li><%= link_to "final", user_table_finaltables_path, class: "bg-blue mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" %></li>
    <li><%= link_to "reset", reset_user_table_path(@user, @table), class: "bg-silver mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent", data: { confirm: "reset?" } if user_signed_in? and @user.id == current_user.id %></li>
</ul>

<% if !@classes.empty? %>
    <table class="table table-crop mdl-shadow--3dp"> 
        <h2></h2>
        <tr class="bg-midnight">
            <td><strong>Subject code</strong></td>
            <td><strong>Subject</strong></td>
            <td><strong>Room</strong></td>
            <td><strong>Section</strong></td>
            <td><strong>Day</strong></td>
            <td><strong>Start</strong></td>
            <td><strong>Finish</strong></td>
        </tr>
        <% @classes.each do |class_| %>
            <tr class="detail color-<%= class_.color %>">
                <td><%= class_.subject_code %></td>
                <td><%= class_.subject %></td>
                <td><%= class_.room %></td>
                <td><%= class_.section %></td>
                <td><%= Day.find(class_.daily).day %></td>
                <td><%= Timer.find(class_.start).time %></td>
                <td><%= Timer.find(class_.finish).time %></td>
            </tr>
        <% end %>        
    </table>
<% end %>