<table class="table">
    <caption>All user</caption>
    <tr>
        <td><strong>Username</strong></td>
        <td><strong>Number Table</strong></td>
        <td><strong>created_at</strong></td>
    </tr>
    <% @users.each do |user| %>
        <tr>
            <td><%= link_to user.username, user_tables_path(user) %></td>
            <td><%= user.tables.count %></td>
            <td><%= user.created_at %></td>
        </tr>
    <% end %>
</table>


<table class="table">
    <caption>Day</caption>
    <% @days.each do |day| %>
        <tr>
            <td><%= day.id %></td>
            <td><%= day.day %></td>
            <td><%= link_to raw("<i class='glyphicon glyphicon-edit'></i>"), edit_day_setting_path(day) %></td>
            <td><%= link_to raw("<i class='glyphicon glyphicon-trash'></i>"), delete_day_setting_path(day) %></td>
        </tr>
    <% end %>
</table>

<table class="table">
    <caption>Time</caption>
    <% @times.each do |time| %>
        <tr>
            <td><%= time.id %></td>
            <td><%= time.time %></td>
            <td><%= link_to raw("<i class='glyphicon glyphicon-edit'></i>"), edit_time_setting_path(time) %></td>
            <td><%= link_to raw("<i class='glyphicon glyphicon-trash'></i>"), delete_time_setting_path(time) %></td>
        </tr>
    <% end %>
</table>
