<%= link_to "new", new_regularexam_path %>
<table class="table">
    <% @regulars.each do |regular| %>
        <tr>
            <td><%= regular.ordered %></td>
            <td><%= regular.dayexam %> > <%= Day.find(regular.dayexam).day %></td>
            <td><%= regular.timeexam %> > <%= Timer.find(regular.timeexam).time %></td>
            <td><%= regular.yearexam %></td>
            <td><%= regular.semesterexam %></td>
            <td><%= regular.dayCheck %></td>
            <td><%= regular.dateexam %></td>
            <td><%= link_to raw("<i class='glyphicon glyphicon-edit'></i>"), edit_regularexam_path(regular) %></td>
        </tr>
    <% end %>
</table>
<hr>

<table class="table">
    <% @days.each do |day| %>
        <tr>
            <td><%= day.day %></td>
            <td><%= link_to raw("<i class='glyphicon glyphicon-edit'></i>"), edit_day_regularexam_path(day) %></td>
        </tr>
    <% end %>
</table>

