<h3>
    <i class="glyphicon glyphicon-blackboard"></i> TABLE    
</h3>

<% if @tables.count > 0 %>
    <table class="table table-crop table-hover mdl-shadow--3dp">
        <tr class="bg-midnight">
            <td><strong>Table name</strong></td>
            <td><strong>Year</strong></td>
            <td><strong>Semester</strong></td>
            <%= raw("<td><strong>Setting</strong></td>") if user_signed_in? and @user.id == current_user.id %>
        </tr>
        <% @tables.each do |table| %>
            <tr class="clicktable" onclick="document.location = '<%= user_table_classtables_path(@user, table) %>';">
                <td>
                    <%= link_to raw("<i class='glyphicon glyphicon-pencil'></i> " + table.name), user_table_classtables_path(@user, table) %>
                </td>
                <td> 25<%= table.year %> </td>
                <td> <%= table.semester %></td>
                <%= raw("<td>") if user_signed_in? and @user.id == current_user.id %>
                    <%= link_to raw("<i class='glyphicon glyphicon-edit'></i>"), edit_user_table_path(current_user, table) if user_signed_in? and @user.id == current_user.id %>
                    <%= link_to raw("<i class='glyphicon glyphicon-trash'></i>"), user_table_path(current_user, table), method: :delete, data: { confirm: "OK" } if user_signed_in? and @user.id == current_user.id %>
                <%= raw("</td>") if user_signed_in? and @user.id == current_user.id %>
            </tr>
        <% end %>
    </table>
    <ul class="list-inline">
        <li><i class="glyphicon glyphicon-pencil"></i> Go to timetable</li>
        <li><i class='glyphicon glyphicon-edit'></i> Edit table</li>
        <li><i class='glyphicon glyphicon-trash'></i> Delete table</li>
    </ul>
    
<% end %>

<%= link_to "ADD NEW TABLE", new_user_table_path(current_user), class: "bg-green mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" if user_signed_in? and @user.id == current_user.id %>
<%= link_to "BACK", homepages_path, class: "bg-red mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" %>

