<h4 class="txtHeader">
    <i class="glyphicon glyphicon-calendar"></i> Planning Timetable
</h4>
<h5><i class="glyphicon glyphicon-log-in"></i> LOG IN</h5>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <%= f.label :email, class: "mdl-textfield__label" %>
    <%= f.email_field :email, autofocus: true, class: "mdl-textfield__input" %>
  </div><br>

  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <%= f.label :password, class: "mdl-textfield__label" %>
    <%= f.password_field :password, autocomplete: "off", autofocus: true, class: "mdl-textfield__input" %>
  </div><br>

  
  <% if devise_mapping.rememberable? -%>
    <div class="remember-switch  field">
      <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-2">
        <%= f.check_box :remember_me, class: "mdl-switch__input", id: "switch-2" %>
        <span class="mdl-switch__label"><%= f.label :remember_me %></span>
      </label>
    </div>
  <% end %><br>
  

  <div class="actions">
    <%= f.submit "Log in", class: "bg-green mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" %>
    <%= link_to "BACK", homepages_path, class: "bg-red mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" %>
  </div>
<% end %>

