<!DOCTYPE html>
<html>
<head>
  <title>CMU Timetable</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <% unless current_page?(controller: '/search') %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <% end %>


  <% if current_page?(controller: '/search') %>
    <style type="text/css" media="screen">
      
    
      @media screen and (max-device-width: 320px) {
      .nav-desktop {
          display: block;
      }

      .nav-mobile {
          display: none;
      }
    }
    </style>
  <% end %> 
  
  <!-- FONT -->
  <link href='https://fonts.googleapis.com/css?family=Maven+Pro' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Kanit:300&subset=thai' rel='stylesheet' type='text/css'>
  
  <%= stylesheet_link_tag "//fonts.googleapis.com/icon?family=Material+Icons" %>

  <!-- PURE front-end framework -->
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">

  <!-- BOOTSTRAP front-end framework -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

  <!-- MATERAIL front-end framework -->
  <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.indigo-pink.min.css">
  <script src="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>

  <!-- Search console -->
  <meta name="google-site-verification" content="LwPHl8oTwFDrSsZC9n-7WYHSOR8nLJ0oONlnZjFkUMs" />

  <!-- Share facebook Dialog -->
  <meta property="fb:app_id" content="966242223397117" />
  <meta property="og:description" content="หาตารางเรียนไม่เจอ? ตารางสอบดูยาก? ลองเว็บนี้ดูสิ มีทั้ง ดูตารางเรียนและตารางสอบ 
  และวางแผนการลงเวลาเรียนล่วงหน้าก่อนลงจริง โดยมีลิ้งตารางสอบ" />
  <meta property="og:url"  content="http://cmutimetable.herokuapp.com"/>
  <meta property="og:image:url" content="<%= image_path("generation.png") %>"/>
  <meta name="keywords" content="CMU,Timetable,Reg">
  <meta name="author" content="Theeraphat Jantakat">

</head>
<body>
  <nav class="nav-mobile navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to raw('<h3 class="header-website">CMU Timetale</h3>'), homepages_path %>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <% if user_signed_in? %>
            <li><%= link_to current_user.username, user_tables_path(current_user) %></li>
            <li><%= link_to raw("<i class='glyphicon glyphicon-cog'></i> Edit profile"), edit_user_registration_path %></li>
            <li><%= link_to raw("<i class='glyphicon glyphicon-log-out'></i> Logout"), destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to raw("<i class='glyphicon glyphicon-user'></i> Sign up"), new_user_registration_path %></li>
            <li><%= link_to raw("<i class='glyphicon glyphicon-log-in'></i> Login"), new_user_session_path %></li>
          <% end %>
          <li>
            <% if params[:table_id] %>
              <%= form_for :search, url: user_table_search_index_path do |f| %>
                    <%= f.text_field :code, class: 'form-control', maxlength: 6, placeholder: "Ex: 204 or 204100" %>
              <% end %>
            <% else %>
              <%= form_for :search, url: search_index_path do |f| %>
                <%= f.text_field :code, class: 'form-control', maxlength: 6, placeholder: "Ex: 204 or 204100" %>
              <% end %>
            <% end %>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <div class="container-fluid">
    
    <div class="nav-desktop pure-menu pure-menu-horizontal text-right">
      <ul class="pure-menu-list">
          <li class="pure-menu-item pull-left"><%= link_to raw('<h3 class="header-website">CMU Timetale</h3>'), homepages_path %></li>
            <li class="pure-menu-item pull-left">
              <% if params[:table_id] %>
                <%= form_for :search, url: user_table_search_index_path do |f| %>
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
                    <label class="mdl-button mdl-js-button mdl-button--icon" for="sample6">
                      <i class="material-icons">search</i>
                    </label>
                    <div class="mdl-textfield__expandable-holder">
                      <%= f.text_field :code, maxlength: 6, class: "mdl-textfield__input", id: "sample6" %>
                      <label class="mdl-textfield__label" for="sample-expandable">Expandable Input</label>
                    </div>  
                  </div>
                  <p id="search-hint"> <i class="glyphicon glyphicon-exclamation-sign"></i> สามารถค้นหาได้ทั้ง รหัส 3 ตัวหน้า และ รหัสเต็ม </p>
                <% end %>
              <% else %>
                <%= form_for :search, url: search_index_path do |f| %>
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
                    <label class="mdl-button mdl-js-button mdl-button--icon" for="sample6">
                      <i class="material-icons">search</i>
                    </label>
                    <div class="mdl-textfield__expandable-holder">
                      <%= f.text_field :code, maxlength: 6, class: "mdl-textfield__input", id: "sample6" %>
                      <label class="mdl-textfield__label" for="sample-expandable">Expandable Input</label>
                    </div>  
                  </div>
                  <p id="search-hint"> <i class="glyphicon glyphicon-exclamation-sign"></i> สามารถค้นหาได้ทั้ง รหัส 3 ตัวหน้า และ รหัสเต็ม </p>
                <% end %>
              <% end %>
            </li>
        <% if user_signed_in? %>
          <li class="pure-menu-item header-status"><%= link_to current_user.username, user_tables_path(current_user) %></li>
          <li class="pure-menu-item header-status">
            <%= link_to raw("<i class='glyphicon glyphicon-cog'></i> Edit profile"), edit_user_registration_path, :class => 'navbar-link' %> | 
            <%= link_to raw("<i class='glyphicon glyphicon-log-out'></i> Logout"), destroy_user_session_path, method: :delete, :class => 'navbar-link' %>
          </li>
        <% else %>
          <li class="pure-menu-item header-status"><%= link_to raw("<i class='glyphicon glyphicon-user'></i> Sign up"), new_user_registration_path, :class => 'navbar-link'  %> |</li>
          <li class="pure-menu-item header-status"><%= link_to raw("<i class='glyphicon glyphicon-log-in'></i> Login"), new_user_session_path, :class => 'navbar-link'  %></li>
        <% end %>
      </ul>
    </div>
  

  
    <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    
    <%= yield %>
    <br><br>
    <div class="share-button">
      <a href="https://twitter.com/share" class="twitter-share-button"{count} data-url="http://cmutimetable.herokuapp.com" data-text="วางแผนตารางเรียนก่อนลงทะเบียนจริง พร้อมลิ้งตารางสอบ" data-via="Pondpaun7z" data-size="small" data-related="pondpaun7z" data-hashtags="CMUTIMETABLE">Tweet</a>&nbsp;
      <div class="fb-like" data-href="http://cmutimetable.herokuapp.com" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
    </div>
  </div>
  <br>
  <div class="wrapper">
    <p class="footer"><i class="glyphicon glyphicon-copyright-mark"></i> <a class="copyright" href="http://facebook.com/pondpaunkiku">I'PONDPAUN SEVENZ</a> DESIGN </p>
  </div>

</body>
  <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.5&appId=1514837932162771";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-71311903-1', 'auto');
  ga('send', 'pageview');

</script>

</html>
