<!DOCTYPE html>
<html>
<head>
  <title>CMU Timetable</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  

  <!-- ENGLISH FONT -->
  <link href='https://fonts.googleapis.com/css?family=Maven+Pro' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "//fonts.googleapis.com/icon?family=Material+Icons" %>

  <!-- PURE front-end framework -->
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">

  <!-- BOOTSTRAP front-end framework -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

  <!-- MATERAIL front-end framework -->
  <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.indigo-pink.min.css">
  <script src="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

  <meta property="fb:app_id" content="966242223397117" />
  <meta property="og:description" content="วางแผนการลงเวลาเรียนล่วงหน้าก่อนลงจริง โดยมีลิ้งตารางสอบ" />
  <meta property="og:url"  content="http://cmutimetable-dev.herokuapp.com"/>
  <meta property="og:image:url" content="<%= image_path("share.png") %>"/>

  

</head>
<body>
  <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.5&appId=1514837932162771";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
  <div class="container-fluid">
<div class="fb-share-button" data-href="http://cmutimetable-dev.herokuapp.com/" data-layout="box_count"></div>
    <div class="pure-menu pure-menu-horizontal text-right">
      <ul class="pure-menu-list">
            <li class="pure-menu-item">
              <% if params[:table_id] %>
                <%= form_for :search, url: user_table_search_index_path do |f| %>
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
                    <label class="mdl-button mdl-js-button mdl-button--icon" for="sample6">
                      <i class="material-icons">search</i>
                    </label>
                    <div class="mdl-textfield__expandable-holder">
                      <%= f.text_field :code, maxlength: 6, class: "mdl-textfield__input", id: "sample6" %>
                      <label class="mdl-textfield__label" for="sample-expandable">Expandable Input</label>
                    </div>  
                  </div>
                  <p id="search-hint"> <i class="glyphicon glyphicon-exclamation-sign"></i> สามารถค้นหาได้ทั้ง รหัส 3 ตัวหน้า และ รหัสเต็ม </p>
                <% end %>
              <% else %>
                <%= form_for :search, url: search_index_path do |f| %>
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
                    <label class="mdl-button mdl-js-button mdl-button--icon" for="sample6">
                      <i class="material-icons">search</i>
                    </label>
                    <div class="mdl-textfield__expandable-holder">
                      <%= f.text_field :code, maxlength: 6, class: "mdl-textfield__input", id: "sample6" %>
                      <label class="mdl-textfield__label" for="sample-expandable">Expandable Input</label>
                    </div>  
                  </div>
                  <p id="search-hint"> <i class="glyphicon glyphicon-exclamation-sign"></i> สามารถค้นหาได้ทั้ง รหัส 3 ตัวหน้า และ รหัสเต็ม </p>
                <% end %>
              <% end %>
            </li>
        <% if user_signed_in? %>
          <li class="pure-menu-item">Logged in as <strong><%= current_user.username %></strong>.</li>
          <li class="pure-menu-item"><i class="glyphicon glyphicon-cog"></i> <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |</li>
          <li class="pure-menu-item"> <i class="glyphicon glyphicon-log-out"></i> <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
        <% else %>
          <li class="pure-menu-item"><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |</li>
          <li class="pure-menu-item"><i class="glyphicon glyphicon-log-in"></i> <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %></li>
        <% end %>
      </ul>
    </div>
  

  
    <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    
    <%= yield %>
  </div>
  <br>
  <div class="wrapper">
    <p class="footer"><i class="glyphicon glyphicon-copyright-mark"></i> <a class="copyright" href="http://facebook.com/pondpaunkiku">I'PONDPAUN SEVENZ</a> DESIGN </p>
  </div>

</body>
</html>
